<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=1132, initial-scale=1.0">
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="home-wrap">
    <!--- <div class="mobile-nav"><ul><li><a href="https://localhost:4000"><i><- Inapoi</i></a></li></ul></div> -->
      <header>
        <div class="header-position">
          <a href="../app/views/welcome/index.html.erb"><h1 class="logo">Grupul Montan</h1></a>
          <nav class="site-nav">
            <ul>

            <hr>
            <br>
            <br>
            <li><i><a><%= link_to "<- Pagina principala", welcome_index_path %></a></i></li>
          </ul>
          </nav>

        </div>
      </header>

<div class="home-sections">
  <section class="blog4">
    <div class="flex flex--center">
<div class="col-1">
        <br>
        <%= profile_avatar_select(@user) %>
        <br>

        <span id="editbtn">
<% if @user == current_user %>
  <a><%= link_to 'Editeaza profil', edit_profile_path(@user.user_name), class: 'btn edit-button' %></a></span>
<% end %>

      <div class="user-name-and-follow">
        <h3>Munțoman: <%= @user.user_name %></h3>
      </div>

<div class="biografie">
<h3>Biografie:</h3>
        <%= @user.bio %>
        <hr>
        <br>
      </div>

      <div class="user-statistics">
        <p>Articolele munțomanului:<br>
          <%= pluralize @user.posts.count, 'post' %> </p>
        </div>
        <% @posts.each do |post| %>
<ul><li><h5 id="post_title"><a><%= link_to post.title, post %></a></h5></li></ul>
</div>
</div>
</section>
</div>
<% end %>
