<!DOCTYPE html>
<html>
  <head>
    <title>Pins</title>
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pins', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <div class="home-wrap">

    <!--- <div class="mobile-nav"><ul><li><a href="https://localhost:4000"><i><- Inapoi</i></a></li></ul></div> -->
    <header>
      <div class="header-position">  <a href="../app/views/welcome/index.html.erb"><h1 class="logo">Grupul Montan</h1></a>
      <nav class="site-nav">
        <ul>
          <li><% if user_signed_in? %>

              <%#<% if current_user.profileavatar.exists? %>
              <%#<%= link_to image_tag(current_user.profileavatar.url(:medium)), profile_path(current_user.user_name) %>
              <%#<% else %>
              <%#<%= image_tag 'default-avatar.jpg'%>
              <%#<% end %>
              <%= link_to current_user.user_name + ' (' + current_user.roles.pluck(:name).join("") + ')', profile_path(current_user.user_name) %>

            <br>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              <% end %></li>
          <br>
          <li><b><a href="../pins/new">Traseu nou</a></b></li>
          <hr>
          <br>
          <br>
            <li><i><a><%= link_to "<-Pagina principala", welcome_index_path %></a></i></li>
        </ul></nav><div class="mobile-nav-toggle"></div></div>

      </header>

    <div class="home-sections">
      <section class="blog3">
        <div class="flex flex--center">
          <div class="col-50">
            <br>
            <div id="searchpin">
            <%= form_tag pins_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search" %>
            <% end %>
          </div>
          <br>
          <br>
            <h2 id="pinpage_title">Trasee de munte</h2>
            <h4>Fiecare poate adauga idei de trasee sau potecile lor preferate din munti pentru a contribui la dezvoltarea almanahului de trasee montane<h4>
            <hr>
              <div class="title_wrapper">
                <div class="pin">

                <% @pins.each do |pin| %>
                <div id="myImg">
                <div class="box panel panel-default">
                  <% if pin.image.file? %>
                      <%= link_to image_tag(pin.image.url), pin %>
                      <% else %>
                      <%= image_tag 'traseu-default.jpg' %>
                      <% end %>
                      <div>

                      <h3><a><i><%= link_to pin.title, pin %></i></a></h3></div>

                </div>
              </div>
                  <% end %>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class=pagination>
                  <%= will_paginate @posts, :previous_label => '< Inapoi', :next_label => 'Continua >'  %>
                </div>
              </div>
          </div>


  <%= yield %>

  </section>
</div>



</body>
</html>
