<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../app/assets/javascripts/smoothscroll.js"></script>
    <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
    $(document).ready(function(){
      $("li").ready(function(){
      $("li").css({"color" : "grey", "font-weight" : "normal"})});
    $("li").mouseenter(function(){
        $( this ).css({"color" : "black", "font-weight" : "bold"});
    });
    $("li").mouseleave(function(){
        $( this ).css({"color" : "grey", "font-weight" : "normal"});
    });
});

/**
 * jQuery.ScrollTo - Easy element scrolling using jQuery.
 * Copyright (c) 2007-2012 Ariel Flesler - aflesler(at)gmail(dot)com | http://flesler.blogspot.com
 * Dual licensed under MIT and GPL.
 * @author Ariel Flesler
 * @version 1.4.3.1
 */
;(function($){var h=$.scrollTo=function(a,b,c){$(window).scrollTo(a,b,c)};h.defaults={axis:'xy',duration:parseFloat($.fn.jquery)>=1.3?0:1,limit:true};h.window=function(a){return $(window)._scrollable()};$.fn._scrollable=function(){return this.map(function(){var a=this,isWin=!a.nodeName||$.inArray(a.nodeName.toLowerCase(),['iframe','#document','html','body'])!=-1;if(!isWin)return a;var b=(a.contentWindow||a).document||a.ownerDocument||a;return/webkit/i.test(navigator.userAgent)||b.compatMode=='BackCompat'?b.body:b.documentElement})};$.fn.scrollTo=function(e,f,g){if(typeof f=='object'){g=f;f=0}if(typeof g=='function')g={onAfter:g};if(e=='max')e=9e9;g=$.extend({},h.defaults,g);f=f||g.duration;g.queue=g.queue&&g.axis.length>1;if(g.queue)f/=2;g.offset=both(g.offset);g.over=both(g.over);return this._scrollable().each(function(){if(e==null)return;var d=this,$elem=$(d),targ=e,toff,attr={},win=$elem.is('html,body');switch(typeof targ){case'number':case'string':if(/^([+-]=)?\d+(\.\d+)?(px|%)?$/.test(targ)){targ=both(targ);break}targ=$(targ,this);if(!targ.length)return;case'object':if(targ.is||targ.style)toff=(targ=$(targ)).offset()}$.each(g.axis.split(''),function(i,a){var b=a=='x'?'Left':'Top',pos=b.toLowerCase(),key='scroll'+b,old=d[key],max=h.max(d,a);if(toff){attr[key]=toff[pos]+(win?0:old-$elem.offset()[pos]);if(g.margin){attr[key]-=parseInt(targ.css('margin'+b))||0;attr[key]-=parseInt(targ.css('border'+b+'Width'))||0}attr[key]+=g.offset[pos]||0;if(g.over[pos])attr[key]+=targ[a=='x'?'width':'height']()*g.over[pos]}else{var c=targ[pos];attr[key]=c.slice&&c.slice(-1)=='%'?parseFloat(c)/100*max:c}if(g.limit&&/^\d+$/.test(attr[key]))attr[key]=attr[key]<=0?0:Math.min(attr[key],max);if(!i&&g.queue){if(old!=attr[key])animate(g.onAfterFirst);delete attr[key]}});animate(g.onAfter);function animate(a){$elem.animate(attr,f,g.easing,a&&function(){a.call(this,e,g)})}}).end()};h.max=function(a,b){var c=b=='x'?'Width':'Height',scroll='scroll'+c;if(!$(a).is('html,body'))return a[scroll]-$(a)[c.toLowerCase()]();var d='client'+c,html=a.ownerDocument.documentElement,body=a.ownerDocument.body;return Math.max(html[scroll],body[scroll])-Math.min(html[d],body[d])};function both(a){return typeof a=='object'?a:{top:a,left:a}}})(jQuery);

/**
 * jQuery.LocalScroll
 * Copyright (c) 2007-2010 Ariel Flesler - aflesler(at)gmail(dot)com | http://flesler.blogspot.com
 * Dual licensed under MIT and GPL.
 * Date: 05/31/2010
 * @author Ariel Flesler
 * @version 1.2.8b
 **/
;(function(b){function g(a,e,d){var h=e.hash.slice(1),f=document.getElementById(h)||document.getElementsByName(h)[0];if(f){a&&a.preventDefault();var c=b(d.target);if(!(d.lock&&c.is(":animated")||d.onBefore&&!1===d.onBefore(a,f,c))){d.stop&&c._scrollable().stop(!0);if(d.hash){var a=f.id==h?"id":"name",g=b("<a> </a>").attr(a,h).css({position:"absolute",top:b(window).scrollTop(),left:b(window).scrollLeft()});f[a]="";b("body").prepend(g);location=e.hash;g.remove();f[a]=h}c.scrollTo(f,d).trigger("notify.serialScroll",
[f])}}}var i=location.href.replace(/#.*/,""),c=b.localScroll=function(a){b("body").localScroll(a)};c.defaults={duration:1E3,axis:"y",event:"click",stop:!0,target:window,reset:!0};c.hash=function(a){if(location.hash){a=b.extend({},c.defaults,a);a.hash=!1;if(a.reset){var e=a.duration;delete a.duration;b(a.target).scrollTo(0,a);a.duration=e}g(0,location,a)}};b.fn.localScroll=function(a){function e(){return!!this.href&&!!this.hash&&this.href.replace(this.hash,"")==i&&(!a.filter||b(this).is(a.filter))}
a=b.extend({},c.defaults,a);return a.lazy?this.bind(a.event,function(d){var c=b([d.target,d.target.parentNode]).filter(e)[0];c&&g(d,c,a)}):this.find("a,area").filter(e).bind(a.event,function(b){g(b,this,a)}).end().end()}})(jQuery);

// Initialize all .smoothScroll links
jQuery(function($){ $.localScroll({filter:'.smoothScroll'}); });

</script>
  </head>
  <body>
    <div class="home-wrap">
    <!--- <div class="mobile-nav"><ul><li><a href="https://localhost:4000"><i><- Inapoi</i></a></li></ul></div> -->
      <header>
        <div class="header-position">
          <a href="../app/views/welcome/index.html.erb"><h1 class="logo">Grupul Montan</h1></a>
          <nav class="site-nav-home">
            <ul>
              <% if user_signed_in? %>

                <li><div class="tooltip">
                  <span class="tooltiptext">Vizualizeaza profil</span>
                  <%= link_to current_user.user_name + ' (' + current_user.roles.pluck(:name).join("") + ')',  profile_path(current_user.user_name) %></div></li>
                <br>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to "Autentificare", new_user_session_path %></li>
                <br>
                <br>
                <li><%= link_to "Cont nou", new_user_registration_path %></li>
                <% end %>
                <br>
                <br>
                <hr>
                <br>
                <li><a href="#about" class="smoothScroll"> Despre</a></li>
                <br>
                <br>
                <li><a href="#adventures" class="smoothScroll"> Aventuri </a></li>
                <br>
                <br>
                <li><a href="#articles" class="smoothScroll"> Articole</a></li>
                <br>
                <br>
                <li><a href="#potecidemunte" class="smoothScroll"> Poteci de munte </a></li>
                <br>
                <br>
                <li><a href="#weather" class="smoothScroll"> Vremea</a></li>
                <br>
                <br>
                <li><a href="#contact" class="smoothScroll"> Contact</a></li>

            <br>
            <br>

          </ul>

          </nav>

        </div>
      </header>
      <div class="home-sections">
        <a name="about"></a>
        <section class="about">
          <div class="flex flex--center">
            <div class="abouttext">
              <h1> "Nicaieri in natura, nu exista atata varietate pe un spatiu atat de restrans ca in munte." - John Ruskin</h1>
            </div>
          </div>
        </section>
        <a name="adventures"></a>
        <section class="adventures">
          <div class="flex flex--center">
            <div class="col-2">
              <p1> Aventurile din acest an </p1>
              <p2> Vezi mai multe</p2>
              <div class="calendar-cta"><a><%= link_to 'Evenimente', events_path %></a></div>
              <div class="event-home">
              <% @events.each do |event| %>
              <div class="event_title">
                <%= link_to image_tag(event.image.url), event %>
              <div class="event-meta">
                <p class="name"><a><%= link_to event.title, event %></a></p>
                <p class="date"><%= event.date %></p>
              </div>
              </div>
            <% end %>
            </div>
            </div>
          </div>
        </section>
        <a name="articles"></a>
        <section class="articles-home">
          <div class="flex flex--center">
            <div class="col-2">

              <% @posts.each do |post| %>
              <div class="bubble">
                <div class="name"><q><a><%= link_to post.title, post %></a></q></div>
              </div>
            <% end %>
            </div>
            <div class="col-2">

                <div class="articles-cta"><a><%= link_to 'Toate articolele...', posts_path %></a></div>
            </div>
          </div>
        </section>
        <a name="potecidemunte"></a>
        <section class="tips">
          <div class="flex flex--center">
            <div class="col-2">
              <p3>Depozitul de trasee montane...</p3>
              <div class="pinwelcome">

              <% @pins.each do |pin| %>
              <div class="pinbox">
                <% if pin.image.file? %>
                    <%= link_to image_tag(pin.image.url), pin %>
                    <% else %>
                    <%= image_tag 'traseu-default.jpg' %>
                    <% end %>
                    <h3><a><i><%= link_to pin.title, pin %></i></a></h3>
              </div>
              <% end %>
            </div>
            <div class="pins-cta"><a><%= link_to 'Mai multe', pins_path %></a></div>
          </div>
          </div>
        </section>
        <a name="weather"></a>
        <section class="weather">
          <div class="flex flex--center">
            <div class="col-2">
              <p4>Inainte de traseu...</p4>
              <a href="http://www.accuweather.com/ro/ro/bucharest/287430/hiking-current-weather/287430" class="aw-widget-legal"></a><div id="awtd1460661630122" data-locationkey="" data-unit="c" data-language="ro" data-useip="true" data-uid="awtd1460661630122" data-editlocation="true" data-lifestyle="hiking" class="aw-widget-36hour"></div>
            </div>
          </div>
        </section>
        <a name="contact"></a>
        <section class="footer">
          <div class="flex flex--center">
            <div class="col-2">
              <p5> Detalii de contact: <br><br> dita.daniel@gmail.com</p5>
            </div>
          </div>
        </section>
</div>
</body>
</html>
