<!DOCTYPE html>
<html>
  <head>
    <title>Articole</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    //Modal
    $(function() {
      $('#myImg').click(function(){
        $('#myModal').show();
        return false;
      });

      $('.close').click(function(){
        $('#myModal').hide();
      });
    });
    </script>
  </head>
  <body>
    <div class="home-wrap">
    <header>
      <div class="header-position">
        <a href="../app/views/welcome/index.html.erb"><h1 class="logo">Grupul Montan</h1></a>
        <nav class="site-nav">
          <ul>
            <li><% if user_signed_in? %>
              <%= link_to current_user.user_name + ' (' + current_user.roles.pluck(:name).join("") + ')',  profile_path(current_user.user_name) %>
              <br>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              <% else %>
              <%= link_to "Login", new_user_session_path %>
              <br>
              <br>
              <%= link_to "Register", new_user_registration_path %>
              <% end %></li>
              <br>
            <hr>
            <br>
            <br>
            <li><i><a><%= link_to "<- Inapoi la articole", posts_path %></a></i></li>
          </ul></nav><div class="mobile-nav-toggle"></div></div>
        </header>
      <div class="home-sections">
        <section class="blog22">
        <div class="flex flex--center">
            <div class="col-2">
              <p class="date"><%= @post.created_at.strftime('%B %d %Y') %></p>
              <h1 id="show_title"><%= @post.title %></h1>
              <%# <% if @post.user.profileavatar.exists? %>
              <%#<%= link_to image_tag(@post.user.profileavatar.url(:medium)), profile_path(@post.user.user_name) %>
              <%#<% else %>
              <%#<%= image_tag 'default-avatar.jpg'%>
              <%#<% end %>
              <p class="user">Postat de: <a><%= link_to @post.user.user_name, profile_path(@post.user.user_name) %></a></p>
              <br>
              <div class="views">
                <%= "#{@post.impressionist_count} vizualizari!" %>
              </div>
              <br>
              <%= link_to '', like_post_path(@post.id), remote: true, id: "like_#{@post.id}", class: "entypo-heart #{liked_post @post}" %>
              Like

              <br>
              <br>
              <div class="post-bottom">
                <%= render 'posts/likes', post: @post %>

              </div>
              <div class="caption">
                <div class="caption-content">
                  <div class="user-name">

                  </div>
                </div>
              </div>
              <hr>
              <div id="myImg">
                <% if @post.image.file? %>
                <%= image_tag @post.image.url(:medium), data: { behavior: 'modal' }, :width => 400 %>
                <% else %>
                <% end %>
              </div>
              <br>
              <div id="content">
                <%= markdown @post.content %>
              </div>
              <br>
              <br>
              <div id="options">
                <% if @post.user.id == current_user.id %>
                <a><%= link_to "Editare |", edit_post_path(@post) %></a>
                <a><%= link_to "Sterge", post_path(@post), method: :delete, data: {confirm: "Sigur vrei sa stergi aceasta postare?"} %></a>
                <% else %>
                <% end %>
              </div>
              <hr>
              <br>
              <div id="disqus_thread"></div>
              <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
          (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//grupulmontan.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
  </div>
    </div>
    </section>
    <div id="myModal" class="modal">
      <span class="close">×</span>
      <div class="modal-content">
      <%= image_tag @post.image.url, data: { behavior: 'modal' }, :width => 800 %>
    </div>
  </div>
    </div>
    <hr>
      <br>



  </div>

</body>
</html>
